body {
    background: black;
  }
  #ludo {
    width: 400px;
    margin: auto;
    position: relative;
    height: 400px;
    background: lightgreen;
  }
  
  #box1 {
    border-color: red;
  }
  #box2 {
    border-color: green;
  }
  #box3 {
    border-color: yellow;
  }
  #box4 {
    border-color: blue;
  }
  .box {
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: white;
    border: solid 20px;
  }
  
  #middle-box {
    top: 160px;
    left: 160px;
    width: 50px;
    height: 50px;
    border: solid 15px;
    border-top-color: green;
    border-left-color: red;
    border-right-color: blue;
    border-bottom-color: yellow;
  }
  
  .left-box {
    left: 0;
  }
  
  .right-box {
    right: 0;
  }
  
  .box-top {
    top: 0;
  }
  
  .box-bottom {
    bottom: 0;
  }
  
  .l-shape {
    width: 50px;
    height: 130px;
    position: absolute;
    border: solid 20px;
    border-right: 0;
    border-bottom: 0;
  }
  
  #l-shape-up {
    top: 20px;
    right: 140px;
    border-color: green;
  }
  
  #l-shape-left {
    border-color: red;
    top: 100px;
    left: 60px;
    transform: rotate(-90deg);
  }
  
  #l-shape-right {
    border-color: blue;
    top: 150px;
    right: 60px;
    transform: rotate(-270deg);
  }
  
  #l-shape-down {
    border-color: yellow;
    bottom: 20px;
    left: 140px;
    transform: rotate(-180deg);
  }