/* Réinitialiser les marges et les rembourrages */
* {
  margin: 0;
  padding: 0;
}

/* Ajouter une bordure de 1px entre les sections */
section {
  border: 1px solid #000;
}

/* Définir les couleurs des sections */
.light-blue {
  background-color: #87CEFA;
  height: 33.33vh;
}

.blue {
  background-color: #4169E1;
  height: 33.33vh;
}

.dark-blue {
  background-color: #000080;
  height: 33.33vh;
}

/* Définir la disposition des sections sur les écrans larges */
@media screen and (min-width: 768px) {
  section {
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }
}
