/* Réinitialiser les marges et les rembourrages et prendre en compte les bordures */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Définir les couleurs des sections */
.light-blue {
  background-color: #87CEFA;
}

.blue {
  background-color: #4169E1;
}

.dark-blue {
  background-color: #000080;
}

/* Définir la disposition des sections */
.wrapper {
  display: flex;
  flex-direction: column;
}

section {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

/* Modifier la disposition des sections sur les écrans larges */
@media screen and (min-width: 700px) {
  .wrapper {
    flex-direction: row;
  }
  
  section {
    width: calc(100% / 3);
    height: 300px;
  }
}