body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
  
  .section-1 {
    background-color: blue;
    height: 33.33%;
    width: 100%;
  }
  
  .section-2 {
    background-color: red;
    height: 33.33%;
    width: 100%;
  }
  
  .section-3 {
    background-color: green;
    height: 33.33%;
    width: 100%;
  }
  .section-1, .section-2, .section-3 {
    border: 1px solid black;
  }