body {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .section-1 {
    background-color: blue;
    flex: 1;
  }
  
  .section-2 {
    background-color: red;
    flex: 1;
  }
  
  .section-3 {
    background-color: green;
    flex: 1;
  }