@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Poltawski+Nowy:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}
.home {
  margin-right: 20px;
}
.fa-solid {
  font-size: 24px;
  transform: scale(1.2);
}

#quiz-container {
  width: 500px;
  height: 500px;
  background: rgb(48, 84, 154);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
  #question{
   color: #0c0c0c;
   font-size: 20px;
   font-family: 'Bruno Ace SC', cursive;

  }
  .btn {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #b0ccbc;
    color: #030000;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 80%; /* utiliser % pour définir la largeur des boutons */
    max-width: 400px; /* utiliser max-width pour définir la largeur maximale */
    height: auto; /* utiliser auto pour définir la hauteur en fonction du contenu */
    font-family: 'Poltawski Nowy', serif;

    }
  
  .btn:hover {
    background-color: #08fa69;
  }
  
  #next-btn {
    margin-top: 20px;
  }
  
  #score-container {
    display: none;
  }
